
//body styles

//menu styles

//custom healpers

//content buttons

//icons

//modals






//body styles
html, body
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


body
{
    background: #f5fee6;
}
//body styles end

//menu styles
#menu
{
    background: #686868;
    right: -60%;
    &.mm-opened{
        left: auto;
        right: 0;
    }
     > .mm-panel{
        background: transparent;
         padding: 15px;
    }
    *{
        font-size: 16px;
    }
    .chengeLan_MM{
        font-size: 0;
        text-align: center;
        padding: 7px 0 17px;
        a{
            border-top: 1px solid #B7B7B7;
            box-shadow: 0 2px 0 0 #313131;
            color: #DCDCDC;
            cursor: pointer;
            display: inline-block;
            font-size: 13px;
            font-weight: normal;
            text-align: center;
            width: 50%;
            line-height: 29px;
            float: left;

            &.active{
                background: #fafafa;
                box-shadow:inset 1px 0 0 0  #b7b7b7;
                color: #000000;
                border-top-color: b7b7b7;
            }
            &:first-child{
                border-right: 1px solid #3d3d3d;

                border-radius:4px 0 0 4px ;
                -webkit-border-radius:4px 0 0 4px ;
            }
            &:last-child{
                border-left: 1px solid #3d3d3d;
                border-radius:0 4px 4px 0 ;
                -webkit-border-radius:0 4px 4px 0;
            }
        }
    }
    ul{
      border-top: 2px solid #515050;
      border-bottom: 2px solid #515050;
      padding: 0;
      background: #8c8c8c;
    }
    li{
        border-bottom: 1px solid #666666;
        border-top: 1px solid #b7b7b7;
        &:after{
            margin-left: 60px;
            border:none;
        }
        &:nth-child(2){
            border-top:none;
        }
        &:last-child{
            border-bottom: none;
        }
        a{
            font-size: 18px;
            line-height: 35px;
            color: #f3f3f3;
            padding-left: 15px;
            &:hover{
                background-color: rgba( 255, 255, 255, 0.2 );
            }
        }
    }

    .icon{
        margin: 0 20px 0 3px;
        opacity: 0.6;
    }

}
body #page{
     box-shadow: 8px 0 4px -5px rgba(0, 0, 0, 0.5) !important;
     -webkit-box-shadow: 8px 0 4px -5px rgba(0, 0, 0, 0.5) !important;
 }
//menu styles end

//custom healpers
*, *:after, *:before{
  box-sizing: border-box;
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box; /* Safari */
}
.text-center{
    text-align: center;
}
#page{
    nav
    {
        display: none;
    }
    box-shadow: none !important;
}


div.ContentWrapp
{
    max-width: 500px;
    padding: 21px 5% 19px;
    margin: auto;
}

.vertical-align{
    display: table;
    height: 100%;
}
.vertical-align-midle{
    display: table-cell;
    vertical-align: middle;
}
.center-align-block{
    text-align: center;
}

@mixin clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}
.clearfix{
  @include clearfix();
}
.hide { display: 'none'}
//custom healpers end

// buttons
.ContentWrapp{
    .button{
        display: inline-block;
        text-align: center;
        background: #a0ce66;
        box-shadow: 0 2px 0 0px #085434;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        margin: 5px 0 0;
        padding: 7px 18px;
        color: #004529;
        font-weight: bold;
        border:none;
        i{
            margin-right: 5px;
        }
    }
}
.MM_button{
    background: #8c8c8c;
    display: inline-block;
    box-shadow: 0 2px 0 0 #313131, inset 0 1px 0 #FAFAFA;
    padding:  2px 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 12px!important;
    margin: 18px 0 0;

}

.green_button{
    display: inline-block;
    background: #a0ce66;
    box-shadow: 0 2px 0 0px #085434 ;
    text-align: center;
    color: #004529!important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold!important;
    line-height: 38px;
    min-height: 38px;
    border: none;
    font-size: 15px;
    padding: 0 7px;
}
.red_button{
    display: inline-block;
    background: #ce6666;
    box-shadow: 0 2px 0 0px #085434 ;
    text-align: center;
    color: #6a3434!important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    line-height: 38px;
    font-size: 15px;
    padding: 0 7px;

}

.grey_button{
    display: inline-block;
    background: #bababa;
    box-shadow: 0 2px 0 0px #919191 ;
    text-align: center;
    color: #707070!important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold!important;
    line-height: 38px;
    min-height: 38px;
    border: none;
    font-size: 15px;
    padding: 0 7px;
}
//content buttons end



//icons
.dw_icon{
    @include GeneralSprite();
    background-position: 0 -95px;
    background-repeat: no-repeat;
    background-size: 52px auto;
    display: inline-block;
    height: 20px;
    margin-bottom: -4px;
    width: 20px;
}
.M_menu_icon{
    @include GeneralSprite();
    background-size: 65px auto;
    width: 28px;
    background-color: 20px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    &.human_icon{
        background-position: 0 -287px;
    }
    &.cupon_icon{
        background-position:0px -340px;
    }
    &.money_icon{
        background-position: 0 -392px;
    }
    &.mail_icon{
        background-position: 0 -446px;
    }
    &.lock_icon{
        background-position: 0 -500px;
    }
}

.colaps_icon_grey{
    @include GeneralSprite();
    background-position: 2px -598px;
    background-repeat: no-repeat;
    background-size: 60px auto;
    display: inline-block;
    height: 15px;
    width: 15px;
}
.downl_icon_grey{
    @include GeneralSprite();
    background-position: 2px -572px;
    background-repeat: no-repeat;
    background-size: 50px auto;
    display: inline-block;
    height: 20px;
    margin-bottom: -5px;
    margin-right: 5px;
    width: 22px;
}

//icons end

//modals
body.modalOpen{
    height: 100%!important;
    overflow: hidden!important;
    width: 100%!important;
}

.overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    z-index: 99999;
}

.modal{
    background: none repeat scroll 0 0 #009558;
    left: 5%;
    padding: 0;
    position: fixed;
    right: 5%;
    top: 35%;
    width: 90%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: 0 2px 0 0 #085434;
    -webkit-box-shadow: 0 2px 0 0 #085434;
    z-index: 999999;
    p{
        text-align: center;
        font-weight: bold;
        line-height: 45px;
        margin: 0;
    }
    div{
        height: 45px;
        text-align: center;
        background: #00ad66;
        font-size: 0;
        border-top:1px solid #097b4c;
        border-radius: 0 0 8px 8px;
        -webkit-border-radius: 0 0 8px 8px;
        @include clearfix();

        a{
            float: left;
            display: block;
            vertical-align: top;
            text-align: center;
            height: 100%;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            line-height: 45px;
            border-top:1px solid  #12ba75;
            &:first-child{
                border-right: 1px solid #097b4c;
                border-left: 1px solid #12BA75;
                width: 50%;
                border-radius: 0 0 0 8px;
                -webkit-border-radius: 0 0 0 8px;
            }
            &:last-child{
                border-left: 1px solid #12ba75;
                width: 50%;
                border-radius: 0 0 8px 0;
                -webkit-border-radius: 0 0 8px 0;

            }

        }
    }
}

//modalsend

//cupon_popup
.cupon_popup{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0 0 15px 2px #000000;
    padding: 45px 1% 75px;
    z-index: 9999998;
    .colaps{
        @include GeneralSprite();
        background-position: 0 -635px;
        background-repeat: no-repeat;
        background-size: 60px auto;
        display: block;
        height: 25px;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 25px;
    }
    .grey_button_wrapp{
        display: inline-block;
        width: 100%;
        position: absolute;
        bottom: 20px;
        left: 0;
        text-align: center;
        a{
            display: inline-block;
            text-align: center;
        }

    }
    .img_cupon{
        height: 100%;
        width: 100%;
        background: url('spiffygif_50x50.gif') no-repeat center center;
        background-size: 25px;
        text-align: center;
        img{
            display: inline-block;
            max-width: 400px;
            width: 100%;
        }
    }
}