.mm-right.mm-next.mm-opened.mm-opening{
    header{
        .ContentWrapp{
            right: 80%;
        }
    }
}

header{
    background: #009b5c;
    border-bottom: 1px solid #179b63;
    min-height: 80px;
    .ContentWrapp{
        padding: 12px 3% 11px;
        right: 0;
        position: fixed;
        top: 0;
        width: 100%;
        transition-delay: 0s;
        transition-duration: 0.4s;
        transition-property: top, right, bottom, left, border, transform;
        transition-timing-function: ease;
        background: #009b5c;
        z-index: 99;
        .logo{
            display: inline-block;
            max-width: 28%;
            min-height: 50px;
            vertical-align: middle;
            width: 100px;
            line-height: 50px;
            float: left;
            img{
                width: 100%;
                height: auto;
                display: inline-block;
            }
        }
        .header_title_block{
            float: right;
            padding-top: 4px;
            .header_title{
                display: inline-block;
                vertical-align: middle;
                padding-right: 15px;
                line-height: 50px;
                font-size:23px ;
            }
            a#open-icon-header{
                background-color: #004529;
                background-image: url("../images/core_images/general_sprite.png");
                background-position: 9px -207px;
                background-repeat: no-repeat;
                background-size: 150% auto;
                border-radius: 20px;
                display: inline-block;
                height: 40px;
                right: 0;
                top: 0;
                vertical-align: middle;
                width: 40px;
            }
        }
    }
}
