

header{
    background: #009b5c;
    border-bottom: 2px solid #007545;
    min-height: 71px;
    .ContentWrapp{
        padding: 7px 5% 8px;
        width: 100%;
//        transition-delay: 0s;
//        transition-duration: 0.4s;
//        transition-property: top, right, bottom, left, border, transform;
//        transition-timing-function: ease;
        background: #009b5c;
        z-index: 999;
        .logo{
            display: table;
            max-width: 28%;
            min-height: 100%;
            vertical-align: middle;
            width: 100px;
            line-height: 50px;
            float: left;
            img{
                width: 100%;
                height: auto;
                display: table-cell;
                vertical-align: middle;
            }
        }
        .header_title_block{
            float: right;
            padding-top: 4px;
            .header_title{
                display: inline-block;
                vertical-align: middle;
                padding-right: 4px;
            }
            a#open-icon-header{
                background-color: #004529;
                background-image: url("../images/core_images/general_sprite.png");
                background-position: 9px -207px;
                background-repeat: no-repeat;
                background-size: 150% auto;
                border-radius: 20px;
                display: inline-block;
                height: 40px;
                right: 0;
                top: 0;
                vertical-align: middle;
                width: 40px;
            }
        }
    }
}
