@font-face {font-family:"Glyphicons Halflings";src:url("../fonts/glyphicons-halflings-regular.eot?")
format("eot"),url("../fonts/glyphicons-halflings-regular.woff")
format("woff"),url("../fonts/glyphicons-halflings-regular.ttf")
format("truetype"),url("../fonts/glyphicons-halflings-regular.svg#glyphicons-halflings-regular")
format("svg");font-weight:normal;font-style:normal;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body
{
    font-family:'Open Sans', 'sans-serif', Arial, Helvetica, Verdana;
    font-size: 16px;
    font-size: light;
    line-height: 22px;
    color: #eee;
    -webkit-text-size-adjust: none;
}
h1, h2, h3, h4, h5, h6
{
    line-height: 1;
    color: #eee;
    font-weight: bold;
    font-size: 60px;
    margin: 0 0 10px 0;
}
.page_title h1{
    color: #007344;
    font-size: 43px;
    font-weight: bold;
    padding: 35px 0 0 0;
    text-align: center;
}
p
{
    margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
    color: #fff;
    text-decoration: none;
    outline: none!important;
    cursor: pointer;
}
